

<%= form_with(url: find_detail_preps_path, method: 'post', id: 'findManyDetails') do |form| %>
    <div class="row">
        <div class="col"> 
            <%= form.text_area :name, class: "form-control", placeholder: t(".add_name"), rows: 15 %>
        </div>
        <div class="col"> 
            <%= form.text_area :code, class: "form-control", placeholder: t(".add_code"), rows: 15 %>
        </div>
        <div class="col"> 
            <%= form.text_area :quantity, class: "form-control", placeholder: t(".add_quantity"), rows: 15 %>
        </div>
        <div class="col"> 
            <%= form.text_area :comment, class: "form-control", placeholder: t(".add_comment"), rows: 15 %>
        </div>
    </div>
    <div class="row"> 
        <div class="col text-start">
            <%= link_to t(".cancel"), "#", data: { controller: "find-many-details", action: "find-many-details#close" }, class: "btn btn-danger m-1" %>
        </div>
        <div class="col text-end">
            <%= form.submit t(".find"), class: "btn btn-primary", data: {  controller: "find-many-details", action: "find-many-details#find" }, class: "btn btn-primary m-1" %>
        </div>
    </div> 
<% end %>

