<table class="table table-hover">
    <thead>
        <tr>
            <th><%=t(".brand")%></th> 
            <th><%=t(".delivery")%></th>
            <th><%=t(".code")%></th>
            <th><%=t(".name")%></th>
            <th><%=t(".comment")%></th>
            <th><%=t(".price")%></th>
            <th><%=t(".quantity")%></th>
            <th><%= button_to t(".add_all"), root_path, class: "btn btn-success" %></th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <% find_details.each do |detail| %>
            <tr data-detail-id="<%= detail.id %>">
                <td><%= detail.car_name %></td>
                <td><%= detail.delivery_days %></td>
                <td><%= detail.code %></td>
                <td data-controller="find-detail-preps" data-action="click->find-detail-preps#edit_name" data-target="find-detail-preps.name"><%= detail.name%></td>
                <td data-controller="find-detail-preps" data-action="click->find-detail-preps#edit_comment" data-target="find-detail-preps.comment"><%= detail.comment%></td>
                <td><%= detail.price %></td>
                <td data-controller="find-detail-preps" data-action="click->find-detail-preps#edit_quantity" data-target="find-detail-preps.quantity"><%= detail.quantity %></td>
                <td><%= button_to t(".add"), detail_preps_path(id: detail.id), class: "btn btn-success" %></td>
            </tr>
        <% end %>
    </tbody>
</table>
<%= render "layouts/pagination", pagy: pagy %>
