<table class="table table-hover">
    <thead>
        <tr>
            <th>brand</th> 
            <th>delivery</th>
            <th>code</th>
            <th>name</th>
            <th>comment</th>
            <th>price</th>
            <th>quantity</th>
            <th><%= button_to "add all", root_path, class: "btn btn-success" %></th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <% find_details.each do |detail| %>
            <tr>
                <td><%= detail.car_name %></td>
                <td><%= detail.delivery_days %></td>
                <td><%= detail.code %></td>
                <td>-</td>
                <td>-</td>
                <td><%= detail.price %></td>
                <td><%= detail.quantity %></td>
                <td><%= button_to "add", detail_preps_path(id: detail.id), class: "btn btn-success" %></td>
            </tr>
        <% end %>
    </tbody>
</table>
<%= render "layouts/pagination", pagy: pagy %>