<table class="table table-hover">
    <thead>
        <tr>
            <th><%=t(".brand")%></th> 
            <th><%=t(".delivery")%></th>
            <th><%=t(".code")%></th>
            <th><%=t(".name")%></th>
            <th><%=t(".comment")%></th>
            <th><%=t(".price")%></th>
            <th><%=t(".quantity")%></th>
            <th><%= button_to t(".remove_all"), detail_prep_path(id: 0, remove_all: true), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %></th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <% details.each do |detail| %>
            <tr data-detail-id="<%= detail.id %>">
                <td><%= detail.car_name %></td>
                <td><%= detail.delivery_days %></td>
                <td><%= detail.code %></td>
                <td data-controller="detail-preps" data-action="click->detail-preps#edit_name" data-target="detail-preps.name"><%= detail.name%></td>
                <td data-controller="detail-preps" data-action="click->detail-preps#edit_comment" data-target="detail-preps.name"><%= detail.comment%></td>
                <td><%= detail.price %></td>
                <td data-controller="detail-preps" data-action="click->detail-preps#edit_quantity" data-target="detail-preps.quantity"><%= detail.quantity %></td>
                <td><%= button_to t(".remove"), detail_prep_path(detail), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %></td>
            </tr>
        <% end %>
    </tbody>
</table>
<%= render "layouts/pagination", pagy: pagy %>