<div class="row">
    <div class="col">
        <span class="fw-bold">ID:</span><%= order.sid %> 
    </div>
    <div class="col">
        <span class="fw-bold">Status:</span> <%= order.status %> 
    </div>
    <div class="col">
        <span class="fw-bold">Car:</span> <%= order.vehicle_brand %> 
    </div>
    <div class="col">
        <span class="fw-bold">Model:</span> <%= order.vehicle_model %> 
    </div>
    <div class="col">
        <span class="fw-bold">VIN:</span> <%= order.vin %> 
    </div>
</div>