<div class="row">
    <div class="col">
        <span class="fw-bold"><%= t(".id") %>:</span><%= order.sid %> 
    </div>
    <div class="col">
        <span class="fw-bold"><%= t(".status") %>:</span> <%= order.status %> 
    </div>
    <div class="col">
        <span class="fw-bold"><%= t(".brand") %>:</span> <%= order.vehicle_brand %> 
    </div>
    <div class="col">
        <span class="fw-bold"><%= t(".model") %>:</span> <%= order.vehicle_model %> 
    </div>
    <div class="col">
        <span class="fw-bold"><%= t(".vin") %>:</span> <%= order.vin %> 
    </div>
</div>