
<table class="table table-hover custom-table">
    <thead>
        <tr>
            <th class="col-3">
                <%= sort_link(@q, :part_code, t(".code"), class: "text-decoration-none") %>
            </th>
            <th class="col-3">
                <%= sort_link(@q, :part_name, t(".name"), class: "text-decoration-none") %>
            </th>
            <th class="col-3">
                <%= sort_link(@q, :comment, t(".comment"), class: "text-decoration-none") %>
            </th>
            <th class="col-1">
                <%= sort_link(@q, :kiekis, t(".progress"), class: "text-decoration-none") %>
            </th>
            <th class="col-1">
                <%= sort_link(@q, :price_with_tax, t(".price"), class: "text-decoration-none") %>
            </th>
            <th class="col-1">
                <%= sort_link(@q, :status, t(".status"), class: "text-decoration-none") %>
            </th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <% details.each do |detail| %>
            <tr>
                <td class="col-3">
                    <%= detail.part_code %>
                </td>
                <td class="col-3">
                    <%= detail.part_name %>
                </td>
                <td class="col-3">
                    <%= detail.comment %>
                </td>
                <td class="col-1">
                    <%== detail.kiekis%>
                </td>
                <td class="col-1">
                    <%= number_to_currency(detail.price_with_tax, unit: "€", format: "%n %u")  %>
                </td>
                <td>
                    <%= detail.status %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
<%= render "layouts/shared/pagination", pagy: pagy %>
