<div>
    <table class="table table-hover custom-table">
        <thead>
            <tr>
                <th class="col-3"><%=t(".code")%></th>
                <th class="col-3"><%=t(".name")%></th>
                <th class="col-3"><%=t(".comment")%></th>
                <th class="col-1"><%=t(".progress")%></th>
                <th class="col-1"><%=t(".price")%></th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <% details.each do |detail| %>
                <tr>
                    <td class="col-3"><%= detail.part_code %></td>
                    <td class="col-3"><%= detail.part_name %></td>
                    <td class="col-3"><%= detail.comment %></td>
                    <td class="col-1"><%== detail.kiekis%></td>
                    <td class="col-1"><%= number_to_currency(detail.price_with_tax, unit: "€", format: "%n %u")  %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <%= render "layouts/pagination", pagy: pagy %>
</div>