
<!DOCTYPE html>
<html>
  <head>
    <title>Web</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>
  <body>
    <%= turbo_frame_tag "popup_form" %>
    <%= turbo_frame_tag "find_many_details_id" %>

    <%= render partial: "layouts/shared/navbar"%>
    
    <div class="container-lg my-3">
      <%#= render partial: "layouts/shared/flash"%>
      <%#= yield %>
    </div>

    <div class="mx-3 my-3">
      <%= render partial: "layouts/shared/flash"%>
      <%= yield %>
    </div>

    <%= render partial: "layouts/shared/confirm"%>
  </body>
</html>
